@mixin box-shadow($top, $left, $blur, $spread, $color) {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
}

@media screen and (min-width:1701px) {
	body
	{
		width:50%;
	}
	
	h1
	{
		font-size:8em;
	}
	
}

@media screen and (max-width:1700px) {
	body
	{
		width:70%;
	}
	
	h1
	{
		font-size:7em;
	}
	
}

@media screen and (max-width:1100px) {
	body
	{
		width:90%;
	}
	
	h1
	{
		font-size:6em;
	}
}

@media screen and (max-width:800px) {
	body
	{
		width:auto;
		padding:5px;
	}
}

html
{
	background: #222;
}

body
{
	background:#FFF;
	font-family:Georgia, Helvetica, sans-serif;
	color:#202020;
	margin:10px auto;
	@include box-shadow(0, 0, 30px, 2px, white);
}

#nagbox
{
    border:1px solid #F7941D;
    background:#FEEFDA;
    height:75px; 
    position:relative;
    font-family:sans-serif;
}

#nagfloat
{
    width: 640px;
    margin: 0 auto;
    	    img
	    {
	        float:left;
	    	border:0;
	    }
	    div
	    {
	        width:500px;
    		padding-top:10px;
    		padding-left:15px;
    		float:left;
	    }
}


a
{
	color:#0F6F9F;
	text-decoration:none;
}

a:hover
{
	color:#D00000;
}

blockquote
{
	border-left:1px solid;
	padding-left:5px;
}

pre
{
	overflow:auto;
	font-size:.8em;
	margin-left:40px;
}

p code
{
	font-size:.8em;
	background:#D9E5ED;
	font-family:'Lucida Console', monospace;
}
