.yotsublue
{
	line-height:1.2em;
	font-family:arial,helvetica,sans-serif;
	font-size:10pt;
	background:#EEF2FF;
	overflow:auto;
	.reply {	
	       color:#000;
	       border:1px solid #B7C5D9;
	       border-left:none;
	       border-top:none;
	       background:#D6DAF0;
	       overflow:auto;
	       float:left;
	       margin:2px;
	       padding:2px;
	       }
	a {
	  color: #34345C;
	  &:visited { color: #34345C; }
	  }
	font: {
	     family: arial, helvetica, sans-serif;
	     size: 10pt;
	     }
	img {
	    border:none;
	    float:left;
	    vertical-align:top;
	    margin:0 20px;
	    padding:0;
	    }
	blockquote {
		   border: none;
		   padding: 0;
		   }
}

.doubledash
{
	color:#B7C5D9;
	vertical-align:top;
	clear:both;
	float:left;
}

.greentext
{
	color:#789922;
}

.commentpostername
{
	color:#117743;
	font-weight:800;
	background:inherit;
}

.yotsublue a.quotejs:active,.yotsublue a.quotejs:link,.yotsublue a.quotejs:visited
{
	text-decoration:none;
}

.yotsublue a:hover,.quotelink,.yotsublue a.quotejs:hover
{
	color:#D00;
}