blockquote.pesterlog,.dave,.john,.rose,.jade,.dirk,.davesprite,.roxy,.jaspersprite,.jake,.jadesprite,.jane,.nannasprite,.uu,.UU,.scratch,.aradia,.sollux,.karkat,.nepeta,.kanaya,.terezi,.vriska,.equius,.gamzee,.eridan,.feferi {
       font: {
	weight: 700;
       	family: courier, monospace;
       	size: 14px;
       }
}

blockquote.pesterlog {
		     width:600px;
		     border:1px dashed gray;
		     padding:5px;
		     background:#eee;
		     line-height:1em; 		     
}

.pesterlog p {
	   margin:0
}

.dave{color:#e00707;}
.john{color:#0715cd;}
.rose{color:#b536da;}
.jade{color:#4ac925;}

.dirk,.davesprite{color:#f2a400;}
.roxy{color:#ff6ff2;}
.jaspersprite{color:#f141ef;}
.jake,.jadesprite{color:#1f9400;}
.jane,.nannasprite{color:#00d5f2;}

.UU{color:#929292;}
.uu{color:#323232;}
.scratch{color:#000;}

.aradia{color:#a10000;}
.tavros{color:#a15000;}
.sollux{color:#a1a100;}
.karkat{color:#626262;}
.nepeta{color:#416600;}
.kanaya{color:#008141;}
.terezi{color:#008282;}
.vriska{color:#005682;}
.equius{color:#000056;}
.gamzee{color:#2b0057;}
.eridan{color:#6a006a;}
.feferi{color:#77003c;}