body, html { background: #fff; margin:0px; padding:0px; border:0px; font-family: Georgia, 'Times New Roman', Times; font-size:16px; line-height:150%; color:#333; }
      pre { font-size: 10px; }
      a { color:#333; text-decoration: none; padding: 1px 2px; background: #f9fc7e; }
      a:hover { color: #666; background: none; }
      h1 { color:#666; font-weight: normal; margin-bottom:0px; }
      h2 { color:#666; font-weight: normal; margin-bottom:0px; }
      h3 { color:#666; font-weight: normal !important; margin-bottom:0px; }
      h4 { color:#666; font-weight: normal; margin-bottom:0px; }
      img { background: #fff !important; border: 1px solid #999; padding: 5px; margin: 0px; }
      img a { text-decoration: none !important; background: #fff !important; margin: 0px; }
      input { border: 1px solid #999; }
      .photo a, .disqus a { text-decoration: none !important; background: #fff !important; }
      .header { margin-bottom: 20px; }
      .wrapper { width: 520px; margin: auto; }
      .main { margin: 50px 0px; }
      .datetime { font-size: 12px; line-height: 150%; color: #666; position:relative; float:left; margin-left:-250px; padding-right: 25px; border-right: 1px solid #999; width: 200px; text-align: right; clear: both; }
      .navleft { font-size: 12px; position: relative; float: left; }
      .navright { font-size: 12px; position: relative; float: right; }
      .navcenter { font-size: 12px; text-align:center; width: 500px; }
      .datetime a { color: #666; }
      .post { padding-bottom: 30px; } 
      .short_quote { margin: 0px; padding: 0px; font-size:62px; line-height: 110%; color: #666; } 
      .medium_quote { margin: 0px; padding: 0px; font-size:36px; line-height: 115%; color: #666; } 
      .long_quote { margin: 0px; padding: 0px; font-size:24px; line-height: 130%; color: #666; } 
      a .notes { text-decoration: none !important; background: none; } 
      .notes a { text-decoration: none !important; background: none; } 
      img .notes { margin: 0px; padding: 3px; border: 1px solid #999; } 
      .notes img { margin: 0px; padding: 3px; border: 1px solid #999; } 
      .disqus { font-family: Georgia, 'Times New Roman', Times !important; size: 16px; line-height:150% !important; color:#333 !important; }